html {
  font-family: 'Permanent Marker', cursive;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.board table {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}

.photos {
  margin: 0 auto;
  width: 345px;
  text-align: center;
}

#choose_cat {
  display: inline;
}

#choose_cat img {
  width: 175px;
  height: 175px;
}

#choose_dog {
  display: inline;
}

#choose_dog img {
  width: 145px;
  height: 145px;
}

.checkbox {
  width:150px;
  height:150px;
  border-color: black;
  border-style: solid;
  border-radius: 4px;
}

.checkbox:hover {
  background-color: #ffdc73;
}

.checkbox .cat {
  width:150px;
  height:150px;
}

.checkbox .dog {
  width:150px;
  height:150px;
}
