html {

}

.board table {
  display: block;
  margin-left: 30%;
  margin-right: 30%;
}

.photos {
  margin: 0 auto;
  width: 330px;
}

#choose_cat {
  display: inline;
}

#choose_cat img {
  width: 175px;
  height: 175px;
}

#choose_dog {
  display: inline;
}

#choose_dog img {
  width: 145px;
  height: 145px;
}

.checkbox {
  width:150px;
  height:150px;
  border-color: black;
  border-style: solid;
}

.checkbox .cat {
  width:150px;
  height:150px;
}

.checkbox .dog {
  width:150px;
  height:150px;
}
